<div>
  <h1>Statistiques des vues par marque et par année</h1>
  <p>Voir les statistiques mensuelles pour:</p>
  <label>Marque: </label>
  <select [(ngModel)]="selectedBrand">
    <option [value]="'Apple_Inc.'">Apple</option>
    <option [value]="'Samsung'">Samsung</option>
    <option [value]="'Xiaomi'">Xiaomi</option>
    <option [value]="'OnePlus'">OnePlus</option>
    <option [value]="'Motorola'">Motorola</option>
    <option [value]="'Oppo'">Oppo</option>
  </select>
  <label>Année: </label>
  <select [(ngModel)]="selectedYear">
    <option [value]="2016">2016</option>
    <option [value]="2017">2017</option>
    <option [value]="2018">2018</option>
    <option [value]="2019">2019</option>
    <option [value]="2020">2020</option>
    <option [value]="2021">2021</option>
    <option [value]="2022">2022</option>
  </select>
  <label>Langue: </label>
  <select [(ngModel)]="selectedLanguage">
    <option [value]="'en'">Anglais</option>
    <option [value]="'fr'">Français</option>
    <option [value]="'de'">Allemand</option>
    <option [value]="'nl'">Néerlandais</option>
    <option [value]="'it'">Italien</option>
    <option [value]="'es'">Espagnol</option>
  </select>
  <button (click)="searchByBrand()">Rechercher</button>
</div>

<div>
  <ngx-charts-bar-vertical *ngIf="!isLoading"
  [results]="monthlyStats"
  [xAxis]="true"
  [yAxis]="true"
  [xAxisLabel]="'Months'"
  [yAxisLabel]="'Views'"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [scheme]="'fire'"
  >
  </ngx-charts-bar-vertical>
</div>