<div class="header">

  <h1>Comparer les vues mensuelles entre deux ou plusieurs marques</h1>
  <div class="select-year-language">
    <ul>
      <li>
        <label>Année: </label>
        <select [(ngModel)]="selectedYear">
          <option [value]="2016">2016</option>
          <option [value]="2017">2017</option>
          <option [value]="2018">2018</option>
          <option [value]="2019">2019</option>
          <option [value]="2020">2020</option>
          <option [value]="2021">2021</option>
          <option [value]="2022">2022</option>
        </select>
      </li>
      <li>
        <label>Langue: </label>
        <select [(ngModel)]="selectedLanguage">
          <option [value]="'en'">Anglais</option>
          <option [value]="'fr'">Français</option>
          <option [value]="'de'">Allemand</option>
          <option [value]="'nl'">Néerlandais</option>
          <option [value]="'it'">Italien</option>
          <option [value]="'es'">Espagnol</option>
        </select>
      </li>
    </ul>
  </div>


  <div class="brands-list">
    <ul *ngFor="let request of brandsToCompare">
      <li>
        <label>Marque: </label>
        <select [(ngModel)]="request.brand">
          <option [value]="'Apple_Inc.'">Apple</option>
          <option [value]="'Samsung'">Samsung</option>
          <option [value]="'Xiaomi'">Xiaomi</option>
          <option [value]="'OnePlus'">OnePlus</option>
          <option [value]="'Motorola'">Motorola</option>
          <option [value]="'Oppo'">Oppo</option>
        </select>
      </li>
    </ul>
  </div>

    <button (click)="addRequest()">Ajouter une marque</button>
    <button (click)="compare()" id="compare">Comparer</button>
</div>
<div>
  <ngx-charts-bar-vertical-2d *ngIf="groupedStats.length == brandsToCompare.length"
  [results]="groupedStats"
  [legend]="true"
  [xAxis]="true"
  [yAxis]="true"
  [showGridLines]="true"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [xAxisLabel]="'Brands'"
  [yAxisLabel]="'Views'"
  [scheme]="'air'"
  >
  </ngx-charts-bar-vertical-2d>
</div>